<!DOCTYPE html>
<!--[if lte IE 8 ]><html lang="en" class="js-off lte-ie8"><![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="js-off ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="js-off">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>JSDoc: <?js= title ?></title>
    <script>
document.documentElement.className = document.documentElement.className.replace(/\bjs-off\b/,'js-on'); // no BEM notation thx to IE
    </script>
    <!--[if lt IE 9]>
      <script>window.html5={'shivCSS':false};</script>
      <script src="wmf/js/vendor/ie/html5shiv-3.7.3.min.js"></script>
      <script src="wmf/js/vendor/ie/respond-1.4.2.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="wmf/css/build/wmui-style-guide.min.css">
    <link rel="stylesheet" href="styles/jsdoc-wmf-theme.css">
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link rel="preload" href="wmf/fonts/Charter_regular.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="wmf/fonts/Lato_regular.woff2" as="font" type="font/woff2" crossorigin="">
    <script src="scripts/fonts-loader.js" async=""></script>
</head>

<body class="page--home">
	<header id="header" class="header" role="banner">
		<div class="content-box">
			<a href="#content" class="is-aural is-focusable">Jump to content</a>
			<a href="#nav--main" class="is-aural is-focusable">Jump to navigation</a>
			<h1 class="site__title"><a href="./"><span class="site__logo"></span><?js= env.conf.templates.wmf.maintitle ?>: <?js= title ?></a></h1>
			<label class="btn--nav-main" for="trigger--nav-main" aria-hidden="true" title="Show main menu">
				<i></i> <span>Menu</span>
			</label>
			<a href="<?js= env.conf.templates.wmf.repository ?>" class="lnk--contribute" title="Fork and contribute on GitHub"><span>Contribute on </span>GitHub</a>
		</div>
	</header>
	<div class="page">
		<div class="content-box">
			<div class="col col--start">
				<input type="checkbox" id="trigger--nav-main" class="trigger--nav-main">
				<nav id="nav--main" class="nav nav--main" role="navigation">
					<?js= this.nav(filename) ?>
				</nav>
			</div>
			<div class="col col--end">
				<main id="content" class="content" role="main">
    <h1 class="page__title"><?js= title ?></h1>

    <?js= content ?>
				</main>
			</div>
		</div>
	</div>
	<footer id="footer" class="footer">
		<div class="content-box">
			<ul class="footer__list">
				<li><a href="<?js= env.conf.templates.wmf.repository ?>">Contribute on GitHub</a></li>
			</ul>
			<p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?></p>
			<p><a href="https://wikimediafoundation.org/" class="lnk--wikimedia-project">A Wikimedia Foundation project</a></p>
		</div>
	</footer>

<script>
var arr = function(aa) { return Array.prototype.slice.call(aa); };
arr(document.querySelectorAll("nav > ol > li")).map(function(el) {
  el.addEventListener('click', function(event) {
    if (el.classList.contains('is-on')) {
      el.classList.remove('is-on');
      return;
    }
    arr(document.querySelectorAll("nav li.nav__item.is-on")).map(function(el2) {
      el2.classList.remove('is-on');
    });
    el.classList.add('is-on');
  });
});
</script>
<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
